@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Lobster&family=Merienda+One&family=Montserrat:ital,wght@0,300;0,400;0,700;1,900&display=swap');

:root {
  /* --background-color: rgb(196, 169, 250);
  --highlight-background-color: mediumslateblue;
  --highlight-text-color: gold; */

  --background-color: hsl(100, 35%, 90%);
  --highlight-background-color: hsl(336, 80%, 50%);
  --highlight-text-color: #f2ffe9;
  --action-background-color: #557c55;

  --text-color: slategray;

  --body-font: 'Montserrat', sans-serif;
  --header-h1-font: 'Lobster', cursive;
  --header-h2-font: 'Montserrat', sans-serif;
  --quote-font: 'Merienda One', cursive;
  --signature-font: 'Licorice', cursive;
  --message-font: 'Courier New', Courier, monospace;
}

body {
  background-color: var(--background-color);
  font-family: var(--body-font);
}

.app {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
/* Review flex grandchildren pushing height
https://stackoverflow.com/questions/51834332/why-doesnt-the-nested-flex-parent-height-grow-with-children */

header {
  padding: 1rem 2.5rem;
  padding-bottom: 1.5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  background-color: var(--highlight-background-color);
  color: var(--highlight-text-color);
}

header h1 {
  font-family: var(--header-h1-font);
  font-size: 3rem;
  line-height: 1;
}

.copy-link {
  font-weight: bold;
}

h2 {
  margin-bottom: 1.5rem;
  font-family: var(--header-h2-font);
}

main {
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
}

main.welcome {
  display: flex;
  flex-flow: column nowrap;
}

.build-link::before {
  content: '👉';
  margin-right: 0.75rem;
}

.oops-link::before {
  content: '💝';
  margin-right: 0.75rem;
}

main.builder {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(400px, 900px) minmax(150px, 500px);
  grid-template-areas: 'card toolkit';
}

main.retriever {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(400px, 900px);
  grid-template-areas: 'card';
}

.cardstock {
  margin: 1rem;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0.5rem 0.75rem 0.2rem rgb(0, 0, 0);
}

button {
  border: 0;
  border-radius: 0;
  background-color: var(--action-background-color);
  color: var(--highlight-text-color);
  box-shadow: 0.15rem 0.15rem black;
  transform: translateY(-0.15rem);
}

.action-button {
  font-weight: bold;
}

button:active {
  box-shadow: 0.15rem 0 black;
  transform: translateY(0.15rem);
}

button:hover {
  background-color: var(--highlight-background-color);
}
